.gradle
.idea
*.tgz
*.tar.gz
*.jar
!gradle/**/*
*.iml
**/.classpath
**/.project
**/.settings
**/build/
**/target/
**/out/
**/hs_err_pid*
.attach_pid*
**/.vscode/
**/.DS_Store
**/application-secret.yml
**/credentials.yml
**/bin
**/infinitest.filters
envrc-secret
**/secrets
